# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
env/

# Django
*.sqlite3
*.log
media/
staticfiles/

# ML модели (большие бинарные файлы)
backend/app/ml/mlp_model.pkl
backend/app/ml/*.pkl

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Node (если появится)
node_modules/
dist/
